:root {
  --primary-color: #a32838;
  --secondary-color: #3f6bc4;
  --text-color: #fff2f2;
}

* {
  font-family: "Inclusive Sans", sans-serif;
}
body,
.album,
.hobby-icon {
  background-color: var(--primary-color);
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}
.nav-link {
  color: var(--text-color) !important;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: large;
}
.contact-bg {
  background-image: url(./assets/images/bg.png);
}

.section-title {
  color: #fff2f2;
  background-color: #3f6bc4;
  padding: 15px;
  font-family: "Noto Serif", serif;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}

.profile-img {
  border: solid #ffc8c8 5px;
  border-radius: 50%;
}

.light-txt {
  color: var(--text-color);
}

.project-name {
  font-size: larger;
  font-weight: bold;
  border-radius: 5%;
  padding: 5px;
}

.project-link {
  text-decoration: none;
  color: #7286d3;
}

.project-img {
  height: 225px;
  padding: 5px;
  background-color: #fff2f2;
}

.card-body {
  background-color: #ccd0e3;
}

.pink-bg {
  background-color: #fff2f2;
  padding: 10px;
  border-radius: 5%;
}

#head {
  background-image: url(./assets/images/bg2.png);
}

.contact-txt {
  color: #7286d3;
  background-color: #fff2f263;
}

.title {
  font-family: "Noto Serif", serif;
  color: var(--text-color);
}

.subheading {
  font-family: "Noto Serif", serif;
  color: black !important;
}

#footer {
  background-color: #3f6bc4;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}
